@model CertificationMS.ContextModels.Campus

@{
    ViewData["Title"] = "create";
}
<h3>Department</h3>
<form asp-action="Add" class="col-md-8">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CampusName" for="exampleInputEmail1">Campus Name</label>
        <input asp-for="CampusName" class="form-control" id="exampleInputEmail1" placeholder="Enter Campus Name" aria-describedby="emailHelp">
        <span asp-validation-for="CampusName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" for="exampleInputPassword1">Address</label>
        <input asp-for="Address" class="form-control" placeholder="Enter Address" id="exampleInputPassword1">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SortOrder" for="exampleInputPassword1">SortOrder</label>
        <input asp-for="SortOrder" class="form-control" placeholder="Enter SortOrder" id="exampleInputPassword1">
        <span asp-validation-for="SortOrder" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" asp-action="Add" value="Create" class="btn btn-primary" />
    </div>
</form>
<div class="card-footer text-muted">
    <div>
        <a asp-action="List">Back to List</a>
    </div>
</div>






