@model CertificationMS.ContextModels.ApvStatus

@{
    ViewData["Title"] = "create";
}
<h3>Department</h3>
<form asp-action="Add" class="col-md-8">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" for="exampleInputEmail1">Campus Name</label>
        <input asp-for="Name" class="form-control" id="exampleInputEmail1" placeholder=" Name" aria-describedby="emailHelp">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    

    <div class="form-group">
        <input type="submit" asp-action="Add" value="Create" class="btn btn-primary" />
    </div>
</form>
<div class="card-footer text-muted">
    <div>
        <a asp-action="List">Back to List</a>
    </div>
</div>






