@model EMSJu.ContextModels.ApvStatus

@{
    ViewData["Title"] = "EditCampus";
}

<h1>EditCampus</h1>


<hr />
<div class="row">
    <div class="col-md-8">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
         
            @*hi*@
            <div class="form-group">

                <input type="submit" asp-controller="ApprovalStatus" asp-action="Update" value="Update" class="btn btn-primary " />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="" asp-action="List">Back to List</a>
</div>

