@model CertificationMS.Models.department

@{
    ViewData["Title"] = "create";
}



<h4>department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPerson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="deptname" class="control-label"></label>
                <input asp-for="deptname" class="form-control" />
                <span asp-validation-for="deptname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deptsname" class="control-label"></label>
                <input asp-for="deptsname" class="form-control" />
                <span asp-validation-for="deptsname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-controller="Admin" asp-action="AddPerson" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

