<style id="table_style" type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }
    .hed{
        text-align:center;
        margin:0px;
        padding:0px;
    }
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

        table th {
            background-color: #F7F7F7;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }
</style>

@model EMSJu.Models.SemisterVm


    <div class="text-right">
        <input type="button" onclick="PrintTable();" value="Print" />
    </div>
    
    <div class="row mt-4">
        <div class="col-4">
            <select id="SemisterValue" class="form-control">
                <option value="0">---Select Semister Name --- </option>
                @foreach (var item in Model.semisters)
                {
                    <option value="@item.SemisterId">@item.SemisterName</option>
                }

            </select>
        </div>
        <div class="col-sm-8">
            <select name="" id="QSearch" class="form-control select2">
                <option selected="selected" value="">Select</option>

            </select>
        </div>
    </div>





    <div id="dvContents" class="text-center"  style="margin-top:100px;">
        <div class="hed">
            <h4 id="exmName"></h4>
            <h5 id="CorseName"></h5>
            <h5 id="Corsecode"></h5>
            <h5 id="crdit"></h5>
            <h5 id="duration"></h5>
            <h5 id="prname"></h5>
        </div>
        
        <div class="card-body px-2 py-2 d-none" id="tbl" style="min-height: 431px">
           
            <table class="table table-bordered "  id="EduInfo">
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="border" style="width:5%">Serial</th>
                        <th scope="col" style="width:5%">Student Name</th>
                        <th scope="col" style="width:5%">Student Id</th>
                        <th scope="col" style="width:5%">Batch Bo</th>

                        <th scope="col" style="width:5%">Exam Date</th>
                        <th scope="col" style="width:5%">Verify By</th>
                        <th scope="col" style="width:5%">Verification Method</th>
                        <th scope="col" style="width:5%">Verification Date</th>
                        
                    </tr>
                </thead>
                <tbody class="text-right">
                </tbody>
            </table>

        </div>
    </div>
    @section scripts {

        <script>
            $("#SemisterValue").change(function () {
                var SemID = $("#SemisterValue").val();
                $.ajax({
                    url: "/Report/GetSemisterWiseCourses",
                    method: "Get",
                    data: { Id: SemID },
                    dataType: "json",

                    success: function (data) {
                        console.log(data);
                        var select = $("#QSearch");
                        select.children().remove();
                        select.append($("<option>").val('').text('Select'));
                        $(data).each(function (index, item) {
                            select.append($("<option data-toggle='tooltip' title='" + item.courseId + "'>").val(item.courseId).text(item.courseName + "-" + item.courseCode + " - " + item.teacherName));
                        });
                        return false;

                    }
                });
            });




            $("#QSearch").on("change", function () {
                /*    e.preventDefault();*/
                $("#exmName").empty();
                $("#tbl").removeClass("d-none");
                var id = $("#QSearch").val();
                $('#EduInfo tbody').empty();
                $.ajax({
                    url: "/Report/GetStudent",
                    method: "Get",
                    data: { id: id },
                    dataType: "json",

                    success: function (response) {
                        console.log(response);
                        
                        $("#EduInfo").show();
                        var z = 1;
                        let rows = "";
                        if (response.length > 0) {
                            $("#exmName").append("Exam Name: "+ response[0].examName);
                            $("#CorseName").append("Course Name: " + response[0].courseName);
                            $("#Corsecode").append("Course Code: " + response[0].courseCode);
                            $("#crdit").append("Credit: " + response[0].credit);
                            $("#duration").append("Duration: " + response[0].duration);
                            $("#prname").append("Programe Name: " + response[0].programName);
                        } 
                        
                        for (var i = 0; i < response.length; i++) {

                            var custome = formatDate(response[i].examDate);
                            var custome1 = formatDate(response[i].verifyDateTime);
                            rows += "<tr><td class='border'>" + z + "</td><td>" + response[i].studentName + "</td><td>" + response[i].studentId + "</td><td>" + response[i].batchNo + "</td><td>" + custome + "</td><td>" + response[i].verifiedBy + "</td><td>" + response[i].verificationMethod + "</td><td>" + custome1 + "</td></tr>";
                            z++;
                        }

                        $("#EduInfo tbody").append(rows);
                    }




                });

            })



            function PrintTable() {
                var printWindow = window.open('', '', 'height=1200,width=1200');
                printWindow.document.write('<html><head><title>Exam Wise Students</title>');

                //Print the Table CSS.
                var table_style = document.getElementById("table_style").innerHTML;
                printWindow.document.write('<style type = "text/css">');
                printWindow.document.write(table_style);
                printWindow.document.write('</style>');
                printWindow.document.write('</head>');

                //Print the DIV contents i.e. the HTML Table.
                printWindow.document.write('<body>');
                var divContents = document.getElementById("dvContents").innerHTML;
                printWindow.document.write(divContents);
                printWindow.document.write('</body>');

                printWindow.document.write('</html>');
                printWindow.document.close();
                printWindow.print();
            }

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            }
        </script>
    }