@model EMSJu.Models.SemisterVm

<div class="row">
    <div class="col-4">
        <select id="SemisterValue" class="form-control">
            <option value="0">---Select Semister Name --- </option>
            @foreach (var item in Model.semisters)
            {
                <option value="@item.SemisterId">@item.SemisterName</option>
            }

        </select>
    </div>
    <div class="col-sm-8">
        <select name="" id="QSearch" class="form-control select2">
            <option selected="selected" value="">Select</option>

        </select>
    </div>
</div>







<div class="card-body px-2 py-2 d-none" id="tbl" style="min-height: 431px">
        <table class="table table-bordered " id="EduInfo">
            <thead>
                <tr class="text-center">
                    <th scope="col" style="width:5%">Serial</th>
                    <th scope="col" style="width:5%">Student Name</th>
                    <th scope="col" style="width:5%">Batch Bo</th>
                    <th scope="col" style="width:5%">Exam Name</th>
                    <th scope="col" style="width:5%">Course Name</th>
                    <th scope="col" style="width:5%">Course Code</th>
                    <th scope="col" style="width:5%">Credit</th>
                    <th scope="col" style="width:5%">Duration</th>
                    <th scope="col" style="width:5%">Exam Date</th>
                    <th scope="col" style="width:5%">Verify</th>
                    <th scope="col" style="width:5%">Programe Name</th>
                </tr>
            </thead>
            <tbody class="text-right">
            </tbody>
        </table>
   
</div>
@section scripts {

    <script>
        $("#SemisterValue").change(function () {
            var SemID = $("#SemisterValue").val();
            $.ajax({
                url: "/Report/GetSemisterWiseCourses",
                method: "Get",
                data: { Id: SemID },
                dataType: "json",

                success: function (data) {
                    console.log(data);
                    var select = $("#QSearch");
                    select.children().remove();
                    select.append($("<option>").val('').text('Select'));
                    $(data).each(function (index, item) {
                        select.append($("<option data-toggle='tooltip' title='" + item.courseId + "'>").val(item.courseId).text(item.courseName + "-" + item.courseCode + " - " + item.teacherName));
                    });
                    return false;

               }
        });
        });




        $("#QSearch").on("change", function () {
        /*    e.preventDefault();*/
            $("#tbl").removeClass("d-none");
            var id = $("#QSearch").val();
            $('#EduInfo tbody').empty();
            $.ajax({
                url: "/Report/GetStudent",
                method: "Get",
                data: { id: id },
                dataType: "json",

                success: function (response) {
                    console.log(response);
                    $("#EduInfo").show();
                    var z = 1;
                    let rows = "";
                    for (var i = 0; i < response.length; i++) {
                        rows += "<tr><td>" + z + "</td><td>" + response[i].studentName + "</td><td>" + response[i].batchNo + "</td><td>" + response[i].examName + "</td><td>" + response[i].courseName + "</td><td>" + response[i].courseCode + "</td><td>" + response[i].credit + "</td><td>" + response[i].duration + "</td><td>" + response[i].examDate + "</td><td>" + response[i].verifiedBy + "</td><td>" + response[i].programName + "</td></tr>";
                        z++;
                    }

                    $("#EduInfo tbody").append(rows);
                }
           


                
            });

        })
    </script>
}