<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/favicon.ico">

    <title>@ViewData["Title"] </title>

    <!-- Bootstrap core CSS -->

    <link href="~/Login/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Login/css/Style2.css" rel="stylesheet" />
</head>

<body class="text-center">
    @RenderBody()

    <script src="~/Login/js/jquery.min.js"></script>
    <script src="~/Login/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>