@model CertificationMS.ContextModels.Program

@{
    ViewData["Title"] = "create";
}
<h3>Programe</h3>

<form asp-action="Add" class="col-md-8">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ProgramName" for="exampleInputEmail1">Prgram Name </label>
        <input asp-for="ProgramName" class="form-control" id="exampleInputEmail1" placeholder="Enter Program Name" aria-describedby="emailHelp">
        <span asp-validation-for="ProgramName" class="text-danger"></span>
    </div>




    <div class="form-group">
        <input type="submit" asp-action="Add" value="Create" class="btn btn-primary" />
    </div>
</form>

<div class="card-footer text-muted">
    <div>
        <a asp-action="List">Back to List</a>
    </div>
</div>






