@model SemestersWiseCoursesVM
@{
    ViewData["Title"] = "Index";
}
<style>
    .btn-danger {
        color: #fff !important;
        background-color: #fc544b;
        border-color: #fc544b;
        -webkit-box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2) !important;
        box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2) !important;
        border-radius: 0.25rem;
    }
</style>
<div class="row">
    @if (Model.message == "Successfully Added Semesters Wise Courses")
    {
        <h3 class="text-success"> Successfully Added Semesters Wise Courses </h3>
    }
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="SemesterId" class="control-label">Semester</label>

            <select asp-for="SemesterId" id="SemId" class="form-control select-single" required>
                <option value="">-- Select Semester --</option>
                @foreach (var item in Model.semesterVM)
                {
                    <option value="@item.SemisterId">@item.SemisterName</option>
                }
            </select>
        </div>


    </div>


</div>
<div class="container-fluid">

    <form method="post" id="">
        <table class="table table-bordered" id="semTable">
            <thead>
                <tr class="bg-div">
                    <th>Sl</th>
                    <th>Teacher Name</th>
                    <th>Course Name</th>
                    <th>No of Seat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody >
               
            </tbody>
        </table>
        <input type="submit" value="Confirm Submit" asp-action="Index" class="btn btn-success " />
    </form>
</div>


@section Scripts{
    <script>
        var teacherList = @Html.Raw(Json.Serialize(Model.teacherVM))
                var courseList = @Html.Raw(Json.Serialize(Model.coursesVMs))
            $(document).ready(function () {
                $("#checklist").hide();
            });
        let datalist = [];
        function addnew() {
            var countid = datalist.length;
            if (countid == 0) {
                countid = 1;
            } else {
                countid = parseInt(countid) + 1
            }
            var SemesterId = $("#SemesterId").val();
            var TeacherId = $("#TeacherId").val();
            var CourseId = $("#CourseId").val();
            var SemesterName = $("#SemesterId option:selected").text();
            var TeacherName = $("#TeacherId option:selected").text();
            var CourseName = $("#CourseId option:selected").text();
            var res = validation();
            if (res == 11) {
                var object = { Id: countid, SemesterId: SemesterId, TeacherId: TeacherId, CourseId: CourseId, SemesterName: SemesterName, TeacherName: TeacherName, CourseName: CourseName }

                datalist.push(object);
                console.log(datalist);

                $("#SemesterId").val("");
                $("#TeacherId").val("");
                $("#CourseId").val("");
                lodedata();
            }

        }
        function removeRow(key) {
            if (confirm("Are you sure to remove this?")) {
               
                $("#" + key).remove();
            } 
        }


        function lodedata() {
            let tag = '';
            $("#datashowlist").empty();
            $.each(datalist, function (key, item) {
                tag += '<tr id="' + key + '">';
                tag += '<td> ' + (key + 1) + '</td>';
                tag += '<td><input  type="hidden" id="' + key + item.SemesterId + '" name="MappVm[' + key + '].SemesterId" value="' + item.SemesterId + '"/>' + item.SemesterName + '</td>';
                tag += '<td><input  type="hidden" id="' + key + item.TeacherId + '" name="MappVm[' + key + '].TeacherId" value="' + item.TeacherId + '"/>' + item.TeacherName + '</td>';
                tag += '<td><input  type="hidden" id="' + key + item.CourseId + '" name="MappVm[' + key + '].CourseId" value="' + item.CourseId + '"/>' + item.CourseName + '</td>';
                tag += '<td> <a onclick="removecell(' + item.Id + ',' + key + ')" class=" btn-danger btn-flat btn-sm sm"> <i class="fa fa-trash"></i></a>  </td>';
                tag += '</tr>';
            });
            $('#datashowlist').html(tag);
            var countid = datalist.length;
            if (countid == 0) {
                $("#checklist").hide();
            } else {
                $("#checklist").show();
            }
        }


        function validation() {
            var count = 0;
            var SemesterId = $("#SemesterId").val();
            var TeacherId = $("#TeacherId").val();
            var CourseId = $("#CourseId").val();
            if (SemesterId == 0) {
                alert("Semester No Select");
                return 1;
            } if (TeacherId == 0) {
                alert("Teacher No Select");
                return 1;
            } if (CourseId == 0) {
                alert("Course No Select");
                return 1;
            }
            return 11;
        }


        $("#SemId").change(function () {
            var semid = $('#SemId').find(":selected").val();

            Common.Ajax('GET', '/SemestersWiseCourses/GetSemesterWisedataBySemesterId?semesterId=' + semid, [], 'json', AjaxLoadSemData);

        });

        function AjaxLoadSemData(res) {
            console.log(res);
            var dtTable = $("#semTable");
            var tableBody = dtTable.find('tbody');
            tableBody.empty();
            $.each(res, function (key, value) {
                var teacherDw = MakeTeacherDW(value.teacherId);
                var courseDw = MakeCourseDW(value.courseId);
                var trHtml = `
                                <tr id="row_${key + 1}" >
                            <td>${key+1}</td>
                            <td>${teacherDw}</td>
                            <td>${courseDw}</td>
                            <td><input type="number" name="NoStudent" class="form-control" value="10"/></td>
                            <td><button type="button" onclick="removeRow('row_${key+1}')">Remove</button></td>
                        </tr>
                `;
                
                tableBody.append(trHtml);
            })
        }

        function MakeTeacherDW(id) {
            console.log(teacherList);
            var select = `<select name="TeacherId" class="form-control select-single" required>
                                  <option value="">-- Select Teacher --</option>

                            `;
            $.each(teacherList, function (key, value) {
                var selected = value.teacherId == id ? 'selected' : '';
                select += `<option value="${value.teacherId}" ${selected}>${value.name} - ${value.shortCode} </option>`;
            });
            select += '</select>';
            return select;
        }

        function MakeCourseDW(id) {
            console.log(courseList);
            var select = `<select name="CourseId" class="form-control select-single" required>
                                  <option value="">-- Select Course --</option>

                            `;
            $.each(courseList, function (key, value) {
                var selected = value.courseId == id ? 'selected' : '';
                select += `<option value="${value.courseId}" ${selected}>${value.courseName}- ${value.courseCode} </option>`;
            });
            select += '</select>';
            return select;
        }



    </script>
}